@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

:root {
  --verydarkblue: hsl(243, 87%, 12%);
  --desaturatedblue: hsl(238, 22%, 44%);
  --brightblue: hsl(224, 93%, 58%);
  --moderatecyan: hsl(170, 45%, 43%);
  --lightgrayishblue: hsl(240, 75%, 98%);
  --lightgray: hsl(0, 0%, 75%);
  --headerfont: "Raleway", sans-serif;
  --bodyfont: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--bodyfont);
  font-size: 18px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
}

header img {
  width: 25%;
}

.header-nav {
  font-family: var(--headerfont);
  font-size: 14px;
  display: flex;
  font-weight: 500;
  list-style: none;
  color: var(--desaturatedblue);
}

nav li:first-child {
  padding-left: 0;
}

nav li {
  padding: 0 13px;
}

nav li:last-child {
  padding-right: 0;
}

a {
  text-decoration: none;
}

.first {
  text-align: center;
  padding: 3rem 2rem;
}

.dashboard {
  margin-bottom: 3rem;
}

.dashboard img {
  width: 100%;
}

.first-text h2 {
  font-size: 30px;
}

.first-text p {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--desaturatedblue);
}

button {
  font-family: var(--headerfont);
  color: var(--lightgrayishblue);
  background-color: var(--brightblue);
  padding: 16px;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
}

a:hover,
button:hover,
li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.curve-mobile img {
  margin-top: 3rem;
  width: 100%;
  margin-bottom: -10px;
}

.curve-desktop {
  display: none;
}

.second {
  padding-bottom: 6rem;
  padding: 3rem 2rem;
  background-color: #f8f8fe;
}

.others {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.others h2 {
  font-size: 18px;
  text-align: center;
  color: var(--verydarkblue);
  font-family: var(--headerfont);
}

.others p {
  color: var(--desaturatedblue);
  font-size: 13.6px;
  line-height: 1.5;
  margin-bottom: 0;
}

.others a {
  font-size: 16px;
  margin-top: 30px;
  position: relative;
  display: flex;
  color: var(--moderatecyan);
}

.others a img {
  margin-left: 7px;
  width: 21px;
}

.underline {
  bottom: -4px;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: var(--moderatecyan);
}

.feedback {
  margin-top: 3rem;
  background: white;
  padding: 11px 29px;
  border-radius: 6px;
  box-shadow: 2px 3px 14px 1px rgb(0 0 0 / 16%);
}

.feedback img {
  width: 7%;
  padding-top: 15px;
}

.feedback p {
  color: var(--verydarkblue);
  font-size: 11px;
  line-height: 1.8;
  font-weight: 600;
  margin-top: 0;
  opacity: 0.8;
}

.person {
  margin: 10px 0;
  display: flex;
}

.person img {
  height: auto;
  width: 15%;
  padding-top: 0;
  border-radius: 50%;
}

.info {
  margin-left: 10px;
}

.info strong {
  color: var(--verydarkblue);
  font-size: 14px;
}

.info small {
  display: block;
  color: var(--verydarkblue);
  font-size: 9px;
  font-weight: 600;
}

.third {
  text-align: center;
  padding: 3rem 3rem;
  background-color: var(--desaturatedblue);
  color: white;
}

.text p {
  font-size: 14px;
  line-height: 25px;
}

footer {
  color: white;
  padding: 4rem 3rem 2rem;
  background-color: var(--verydarkblue);
}

.logo {
  margin-bottom: 25px;
}

.logo img {
  width: 170px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info p {
  margin-left: 25px;
  font-size: 14px;
}

.link-group {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.link-group a {
  text-decoration: none;
  color: white;
  padding: 8px 0;
  font-size: 15px;
}

.social-media {
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media li {
  padding: 10px;
  margin: 0 8px;
  border: 1px solid;
  border-color: white;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
}

.social-media img {
  width: 20px;
}

@media screen and (min-width: 1000px) {
  header {
    padding: 3rem 7rem;
  }

  header img {
    width: 13%;
  }

  .header-nav {
    font-size: 18px;
  }

  .header-nav li:nth-child(2) {
    margin-left: 25px;
    margin-right: 25px;
  }

  .first,
  .second,
  .third {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 3rem 7rem;
    text-align: left;
    align-items: center;
  }

  .first-text h2,
  .others h2 {
    font-size: 2.2rem;
    text-align: left;
  }

  .first-text p {
    font-size: 16px;
    margin-right: 50px;
  }

  .first form {
    width: 100%;
    flex-direction: row;
  }

  .first form input {
    width: 54%;
    margin: 16px 0px 15px;
  }

  .first form button {
    width: 33%;
    margin: 16px 25px 15px;
  }

  .second {
    padding-top: 0;
  }

  .others {
    align-items: start;
  }

  .others p {
    margin-right: 11rem;
    font-size: 12.2px;
    font-weight: 600;
  }

  .others a {
    font-size: 17px;
  }

  .feedback {
    margin-right: 15rem;
    margin-bottom: 3rem;
  }

  .feedback p {
    margin-right: 0;
  }

  .third {
    flex-direction: row;
    justify-content: space-between;
  }

  .text {
    width: 45%;
  }

  .text h3 {
    font-size: 2.2rem;
  }

  .text p {
    font-size: 16px;
    margin-top: -20px;
  }

  .third form {
    width: 35%;
  }

  .third form button {
    width: 50%;
    margin-top: -8px;
  }

  footer {
    display: flex;
    justify-content: space-around;
    padding: 5rem 7rem;
  }

  .link-group {
    margin-top: 80px;
  }

  .social-media {
    margin-bottom: 100px;
  }
}
