@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f8;
}

.container {
  display: flex;
  box-shadow: 0 10px 20px 4px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.flex-wrapper {
  align-items: center;
  display: inline;
  background-color: #fff;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  width: 730px;
  height: 280px;
  position: relative;
}

.wrapper p {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.1rem;
  margin-right: 20px;
  color: hsl(217, 19%, 35%);;
}

.wrapper p strong {
  font-size: 1.7rem;
  color: hsl(217, 19%, 35%);;
}

.wrapper img {
  width: 335px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.text {
margin-left: -61px;
background-color: #fff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.profile {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  align-items: center;
  gap: 20px;
}

.profile img {
  width: 36px;
  border-radius: 50%;
}

.profile h4 {
  color: hsl(0, 0%, 59%);
}

.share {
  margin-left: 135px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgb(239, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 

.share img {
  width: 18px;
}

.popup {
  display: flex;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 14px 40px;
  border-radius: 10px;
  position: absolute;
  top: 145px;
  right: -65px;
  visibility: hidden;
  box-shadow: 6px 8px 16px 2px rgb(0 0 0 / 9%);
}

.popup h3 {
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  letter-spacing: 5px;
  font-size: 1em;
  font-weight: 500;
  padding-right: 20px;
}

.popup::after {
  content: "";
  border-style: solid;
  border-width: 9px;
  border-color: hsl(217, 19%, 35%);
  position: absolute;
  top: 42px;
  left: 48%;
  transform: rotate(45deg);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li:first-child {
  padding-left: 0;
}

li {
  padding: 0 7px;
}

li:last-child {
  padding-right: 0;
}

li img {
  width: 23px !important;
  border-radius: 0 !important;
}

.share.active {
  background-color: hsl(217, 19%, 35%);
}

.popup.active {
  visibility: visible;
}